<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- вывод в консоль -->
    <appender name="console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <!-- вывод в файл -->
    <appender name="file"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/info.log.txt</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} - %msg%n
            </Pattern>
        </encoder>
        <!---->
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/info.%d{yyyy-MM-dd}.%i.log.txt</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <!---->
    </appender>
    <!-- Filter -->
    <logger name = "Sevryugin.filter.Filter" level ="info" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>

    <!-- AddCommand -->
    <logger name = "Sevryugin.handlers.AddCommand" level ="info" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>
    <!-- DeleteCommand -->
    <logger name = "Sevryugin.handlers.DeleteCommand" level ="info" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>
    <!-- ExitCommand -->
    <logger name = "Sevryugin.handlers.ExitCommand" level ="info" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>
    <!-- PrintCommand -->
    <logger name = "Sevryugin.handlers.PrintCommand" level ="info" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>

    <!-- MyFileReader -->
    <logger name = "Sevryugin.utility.MyFileReader" level ="info" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>
    <!-- MyFileWriter -->
    <logger name = "Sevryugin.utility.MyFileWriter" level ="info" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>
    <!-- MyFilePrinter -->
    <logger name = "Sevryugin.utility.MyFilePrinter" level ="info" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>




    <root level="info">
        <appender-ref ref="console"/>
    </root>
</configuration>
